/*
Theme Name: Twenty Twenty-Five Child
Theme URI: https://example.com/twenty-twentyfive-child
Description: Child theme for Twenty Twenty-Five
Author: Your Name
Author URI: https://example.com
Template: twentytwentyfive
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwentyfive-child
*/
